# global maximal read length
max_rd_len=150
# following lines will be deleted uncommented if mpe library should be used
# START_MPE
[LIB]
avg_ins=225
reverse_seq=0
asm_flags=1
max_rd_len=200
rank=1
pair_num_cutoff=3
map_len=32
# mpe
q1=READPATH/template_R1t_is_225.fq.gz
q2=READPATH/template_R2t_is_225.fq.gz
# mse
q=READPATH/template_se_mp.fq.gz
# END_MPE
[LIB]
avg_ins=350
reverse_seq=0
asm_flags=3
rank=1
pair_num_cutoff=3
map_len=32
# pe
q1=READPATH/template_R1t_is_350.fq.gz
q2=READPATH/template_R2t_is_350.fq.gz
# se1
q=READPATH/template_R1np_is_350.fq.gz
# se2
q=READPATH/template_R2np_is_350.fq.gz
[LIB]
#START_FEWDATA
avg_ins=350
reverse_seq=0
asm_flags=3
rank=1
pair_num_cutoff=3
map_len=32
# pe newdata
q1=READPATH/template_R1t_is_350_run2.fq.gz
q2=READPATH/template_R2t_is_350_run2.fq.gz
# se
q=READPATH/template_R1np_is_350_run2.fq.gz
# se2
q=READPATH/template_R2np_is_350_run2.fq.gz
# END_FEWDATA
[LIB]
avg_ins=550
reverse_seq=0
asm_flags=3
rank=2
pair_num_cutoff=3
map_len=32
# pe
q1=READPATH/template_R1t_is_550.fq.gz
q2=READPATH/template_R2t_is_550.fq.gz
# se1
q=READPATH/template_R1np_is_550.fq.gz
# se2
q=READPATH/template_R2np_is_550.fq.gz
[LIB]
avg_ins=700
reverse_seq=0
asm_flags=3
rank=3
pair_num_cutoff=4
map_len=34
q1=READPATH/template_R1t_is_700.fq.gz
q2=READPATH/template_R2t_is_700.fq.gz
# se1
q=READPATH/template_R1np_is_700.fq.gz
# se2
q=READPATH/template_R2np_is_700.fq.gz
[LIB]
avg_ins=3000
reverse_seq=0
asm_flags=2
rank=4
pair_num_cutoff=5
map_len=36
q1=READPATH/mp_nxtrim_FR/template_R1t_is_3000.fq.gz
q2=READPATH/mp_nxtrim_FR/template_R2t_is_3000.fq.gz
[LIB]
avg_ins=5000
reverse_seq=0
asm_flags=2
rank=5
pair_num_cutoff=5
map_len=36
q1=READPATH/mp_nxtrim_FR/template_R1t_is_5000.fq.gz
q2=READPATH/mp_nxtrim_FR/template_R2t_is_5000.fq.gz
